{% extends 'base_admin.html.twig' %}

{% block title %}
    BlogSymfony | BackOffice
{% endblock %}

{% block body %}

    <h1 class="text-center my-4">Bienvenue {{ app.user.prenom }} {{ app.user.nom}} !</h1>

    <h4 class="text-center mb-5">Vous êtes dans votre espace BackOffice</h4>

    <h5 class="text-center">Vous pouvez ici gérer la totalité de votre Blog, la gestion des articles, catégories, commentaires et utilisateurs</h5>

    <div class="container d-flex    " >
        <img src="https://c.tenor.com/t9RoDJkcznYAAAAd/kimetsu-no-yaiba-zenitsu.gif" alt="" class="mx-auto my-5" style="height:500px; width:1000px;">
    </div>

{% endblock %}
